<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Edit</title>
  </head>
  <body>
    <h1>Edit Product</h1>
    <form method="post" action="/products/<%=product._id%>?_method=PUT">
      <label for="name">Product Name</label>
      <input
        id="name"
        type="text"
        name="name"
        value="<%=product.name%>"
        placeholder="Product name"
      />
      <label for="price">Product Price</label>
      <input
        id="price"
        type="number"
        name="price"
        value="<%=product.price%>"
        placeholder="Product price"
      />
      <label for="category">Select Category</label>
      <select id="category" name="category">
        <option value="fruit">fruit</option>
        <option value="vegetable">vegetable</option>
        <option value="dairy">dairy</option>
      </select>
      <input type="submit" value="Create Product" />
    </form>
    <a href="/products/<%= product._id%>">Cancel</a>
  </body>
</html>
