<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
  </head>
  <body>
    <h1>New Product</h1>
    <form method="post" action="/products">
      <label for="name">Product Name</label>
      <input id="name" type="text" name="name" placeholder="Product name" />
      <label for="price">Product Price</label>
      <input
        id="price"
        type="number"
        name="price"
        placeholder="Product price"
      />
      <label for="category">Select Category</label>
      <select id="category" name="category">
        <% for (let category of categories) { %>
        <option value="<%=category%>"><%=category%></option>
        <%} %>
      </select>
      <input type="submit" value="Create Product" />
    </form>
  </body>
</html>
